.form{
    background: rgb(249, 232, 242);
    width: 500px;
    height: 230px;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-left: 340px;
    margin-bottom: 15px;
}

label{
    margin-right: 6px
}